<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue Form Homework</title>
</head>
<body>
    
    <div id="app">
        
        <p>{{ message }}</p>
        <p>{{ reversedMessage }}</p>
        <!-- <regist-form></regist-form> -->
    </div>
    <div id="form" v-if="users.length"></div>
        <!-- <input v-model="newName" type="text" placeholder="Type Your Name" @keyup.enter="addUser">
        <p>New user is: {{ newName }}</p>
        <button v-bind:class="{ 'text-danger': newName.length === 0 }" :disabled="newName.length === 0" @click="addUser">Register</button>
        <h2>Users registered:</h2>
        <ul v-if="users.length">
            <li v-for="user in users">
                {{ user.name }}
            </li>
        </ul>
        <p>{{ usersList }}</p> -->
  




    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>