body {
    margin: 0 auto;
    width: 600px;
    padding-top: 50px;
}
.active {
    background-color: yellowgreen;
    
}
.text-danger {
    color: red;
}
ul {
    padding: 10px;
}
ol ul {
    list-style-type: none;
}